/* sens serif forn */
$sns-srif: sans-serif;
body {
  font-family: $sns-srif;
}
/* contain style */
.contain {
  /* reletive position var */
  $relPos: relative;
  /* text alighn center var */
  $centerAln: center;
  /* capitaliz text */
  $capTxt: capitalize;
  /* page style */
  .page {
    /* head style */
    .head {
      /* header style */
      header {
        /* uppercase text var */
        $txt-upperCs: uppercase;
        /* pointer cursor var */
        $pointerCorsor: pointer;
        /* lite yellow color*/
        $lteYelo: yellow;
        /* none value var */
        $noneValue: none;
        /* mashmods name style */
        h1 {
          text-transform: $txt-upperCs;
          position: $relPos;
          left: 10px;
          bottom: 10px;
        }
        /* sigh in button div style */
        .sign_in {
          /* sign in button style */
          button {
            width: 80px;
            height: 40px;
            border: $noneValue;
            position: $relPos;
            left: 76%;
            bottom: 60px;
            cursor: $pointerCorsor;
            font-size: 18px;
            text-transform: $capTxt;
           
          }
        }
      }
    }
    /* main hr style */
    .mainHr {
      /* hr style */
      hr {
        position: $relPos;
        bottom: 60px;
      }
    }
    /* bich ka contain style */
    .bich {
      .emtySmg {
        p {
          text-align: $centerAln;
          font-size: 18px;
          position: $relPos;
          bottom: 50px;
          text-transform: $capTxt;
        }
      }
    }
    /* footer div style */
    .footer {
      /* footer style */
      footer {
        
      }
    }
  }
}

