@inport "nest.scss";


/* sign in univarsal selector */
*
  margin: 0
  padding: 0

// red color var 
$redColVar: red
// sign body color
$sgn-bdy-col: #fffff5;
/* body style */

body 
  background-color: $sgn-bdy-col